{% extends "store/base.html" %}
{% block content %}
<div class="container-fluid p-0">
  <!-- HEADLINE 1 -->
  <div class="p-0 m-0 container-fluid position-relative">
    <img src="/../../../media/src/main/headline_1.png" class="img-fluid">
    <div class="d-flex flex-column justify-content-center position-absolute top-50 start-50 translate-middle">
      <h1 class="text-light display-3">NEW COLLECTION</h1>
      <div class="d-flex container-fluid justify-content-center">
        <button type="button" class="mt-5 btn btn-bd-dark text-center text-nowrap">SHOP NOW</button>
      </div>
    </div>
  </div>

  <!-- PROMO -->
  <div class="p-0 m-0 mt-5 pt-4 container-fluid position-relative">
    <p class="my-5 py-5 fs-4 text-center">NIFTY SHOES FOR EVERY DAY</p>
    <!-- cards -->
    {% if promo %}
    <div class="row row-cols-xxl-4 d-flex justify-content-center mb-5 pb-5">
      {% for product in promo %}
      <div class="col d-flex justify-content-center" style="width: 15rem;">
        <div class="card p-0 m-0 border-0">
          <img src="{{ product.image.url }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">{{ product.name }}</h5>
            <p class="card-text text-center">{{ product.material }}</p>
            <p class="card-text text-center">${{ product.price }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <!-- HEADLINE 2 -->
  <div class="p-0 m-0 container-fluid position-relative">
    <img src="/../../../media/src/main/headline_2.png" class="img-fluid">
    <div class="d-flex flex-column justify-content-center position-absolute top-50 start-50 translate-middle">
      <h4 class="text-light text-center mb-4">SANDALS WITH A SOFT FOOTBED</h4>
      <p class="text-light text-center">
        It’s time to get comfortable – with our super comfy sandals with<br>
        a soft footbed. All sandals with a soft footbed have an integrated<br>latex foam layer which makes them even more comfortable.<br>
        Here, you can discover the new models in beautiful colours<br>
        which we simply don’t want to take off.
      </p>
      <div class="d-flex container-fluid justify-content-center">
        <button type="button" class="mt-4 btn btn-bd-dark text-center text-nowrap">SHOP NOW</button>
      </div>
    </div>
  </div>

  <!-- NEW -->
  <div class="p-0 m-0 mt-5 pt-4 container-fluid position-relative">
    <p class="my-5 py-5 fs-4 text-center">NEW ARRIVALS</p>
    <!-- cards -->
    {% if new %}
    <div class="row row-cols-xxl-4 d-flex justify-content-center mb-5 pb-5">
      {% for product in new %}
      <div class="col d-flex justify-content-center" style="width: 15rem;">
        <div class="card p-0 m-0 border-0">
          <img src="{{ product.image.url }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">{{ product.name }}</h5>
            <p class="card-text text-center">{{ product.material }}</p>
            <p class="card-text text-center">${{ product.price }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <!-- HEADLINE 3 -->
  <div class="p-0 m-0 container-fluid position-relative">
    <img src="/../../../media/src/main/headline_3.png" class="img-fluid">
    <div class="d-flex flex-column justify-content-center position-absolute top-50 start-50 translate-middle">
      <h1 class="text-light text-center display-5 text-nowrap">Are you comfortable in your shoes?</h1>
      <p class="text-light text-center fs-4">Meet our classics and wear your way</p>
      <div class="d-flex container-fluid justify-content-center">
        <button type="button" class="mt-4 btn btn-bd-dark text-center text-nowrap">SHOP NOW</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}