{% extends "store/base.html" %}
{% block content %}
<div class="container-fluid p-0 pb-5">
  <div class="d-flex justify-content-center container-fluid col-lg-10 p-0 px-2 px-lg-0">
    <div class="d-flex flex-column container-fluid p-0">

      <!-- breadcrumb -->
      <div class="container-fluid p-0 pt-2">
        <div class="p-0 px-2" aria-label="breadcrumb">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active" aria-current="page">STORE</li>
          </ol>
        </div>
        <hr class="my-1">
      </div>

      <!-- store -->
      <div class="container-fluid p-0 pt-2">
        <div class="d-flex flex-row">

          <!-- filtering tools -->
          <div class="col-5 col-lg-3">
            <div class="d-flex flex-column">

              <!-- header -->
              <div class="d-flex flex-row ps-2 pe-1 justify-content-between align-items-center p-0 pt-1 pb-1">
                  <p class="m-0 fs-5">FILTERS</p>
                  <a href="{% url "store:store" %}" class="btn btn-bd-dark m-0" style="--bs-btn-border-radius: 2em; --bs-btn-font-size: .75rem; --bs-btn-padding-x: 1rem; --bs-btn-padding-y: .25rem;">clear</a>
              </div>

              <hr class="my-1">

              <!-- accordion -->
              <div class="d-flex flex-row p-0 m-0">
                <div class="accordion custom-accordion accordion-flush container-fluid p-0" id="accordionFilter">
                    
                  {% comment "TODO" %}
                    align default values with applied URL parameters if any available
                    OR
                    at least add a dot indicating that some filters were applied
                  {% endcomment %}

                  <!-- category -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="accordionfilter-header-category">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionfilter-body-category" aria-expanded="false" aria-controls="accordionfilter-body-category">
                        CATEGORY
                      </button>
                    </h2>
                    <div id="accordionfilter-body-category" class="accordion-collapse collapse" aria-labelledby="accordionfilter-header-category">
                      <div class="accordion-body">
                        <div class="form-check p-0">
                          <div class="row row-cols-1 g-1">
                            {% for category in categories %}
                            <div class="col">
                              <input type="checkbox" class="btn-check" id="btn-check-category-{{ category.id }}" autocomplete="off" name="filter-category-checkbox" data-category-id="{{ category.id }}">
                              <label class="d-flex btn btn-custom-checkbox-minimal-alt" for="btn-check-category-{{ category.id }}">{{ category.name|title }}</label>
                            </div>
                            {% endfor %}    
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- size -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="accordionfilter-header-size">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionfilter-body-size" aria-expanded="false" aria-controls="accordionfilter-body-size">
                        SIZE
                      </button>
                    </h2>
                    <div id="accordionfilter-body-size" class="accordion-collapse collapse" aria-labelledby="accordionfilter-header-size">
                      <div class="accordion-body p-0">
                        <div class="form-check p-2">
                          <div class="row row-cols-3 row-cols-lg-4 g-1">
                            {% for size in sizes %}
                            <div class="col">
                              <input type="checkbox" class="btn-check" id="btn-check-size-{{ size }}" autocomplete="off" name="filter-size-checkbox" data-size-id="{{ size }}">
                              <label class="btn btn-custom-checkbox" for="btn-check-size-{{ size }}">{{size}}</label>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- color -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="accordionfilter-header-color">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionfilter-body-color" aria-expanded="false" aria-controls="accordionfilter-body-color">
                        COLOR
                      </button>
                    </h2>
                    <div id="accordionfilter-body-color" class="accordion-collapse collapse" aria-labelledby="accordionfilter-header-color">
                      <div class="accordion-body">
                        <div class="form-check p-2">
                          <div class="row row-cols-4 row-cols-lg-6 g-1">
                            {% for color in colors %}
                            <div class="col">
                              <input type="checkbox" class="btn-check" id="btn-check-color-{{ color.id }}" autocomplete="off" name="filter-color-checkbox" data-color-id="{{ color.id }}">
                              {% if color.name == "White" %}
                              <label class="btn btn-colors-checkbox" for="btn-check-color-{{ color.id }}" style="--bs-btn-bg: #{{ color.code }}; --bs-btn-active-bg: #{{ color.code }}; --bs-btn-border-color: #d3d3d3;"></label>
                              {% else %}
                              <label class="btn btn-colors-checkbox" for="btn-check-color-{{ color.id }}" style="--bs-btn-bg: #{{ color.code }}; --bs-btn-active-bg: #{{ color.code }};"></label>
                              {% endif %}
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- material -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="accordionfilter-header-material">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionfilter-body-material" aria-expanded="false" aria-controls="accordionfilter-body-material">
                        MATERIAL
                      </button>
                    </h2>
                    <div id="accordionfilter-body-material" class="accordion-collapse collapse" aria-labelledby="accordionfilter-header-material">
                      <div class="accordion-body">
                        <div class="form-check p-0">
                          <div class="row row-cols-1 g-1">
                            {% for material in materials %}
                            <div class="col">
                              <input type="checkbox" class="btn-check" id="btn-check-material-{{ material.id }}" autocomplete="off" name="filter-material-checkbox" data-material-id="{{ material.id }}">
                              <label class="d-flex btn btn-custom-checkbox-minimal-alt" for="btn-check-material-{{ material.id }}">{{ material.name|title }}</label>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- max price -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="accordionfilter-header-price">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionfilter-body-price" aria-expanded="false" aria-controls="accordionfilter-body-price">
                        MAX PRICE
                      </button>
                    </h2>
                    <div id="accordionfilter-body-price" class="accordion-collapse collapse" aria-labelledby="accordionfilter-header-price">
                      <div class="accordion-body d-flex flex-column align-items-center">
                        <input id='price-cap' type="range" class="form-range" min="100" max="1000" step="100" value="1000" name="filter-price-slider">
                        <label id='range-value-label' for="price-range" class="form-label">1000 $</label>
                      </div>
                    </div>
                  </div>

                  <!-- other -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="accordionfilter-header-other">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionfilter-body-other" aria-expanded="false" aria-controls="accordionfilter-body-other">
                        OTHER
                      </button>
                    </h2>
                    <div id="accordionfilter-body-other" class="accordion-collapse collapse" aria-labelledby="accordionfilter-header-other">
                      <div class="accordion-body">
                        <div class="row row-cols-1 row-cols-lg-3">                                                    
                          <input type="checkbox" class="btn-check" id="btn-check-new" autocomplete="off" name="filter-other-new-checkbox">
                          <label class="d-flex btn btn-custom-checkbox-minimal m-1" for="btn-check-new">NEW</label>
                          <input type="checkbox" class="btn-check" id="btn-check-sale" autocomplete="off" name="filter-other-onsale-checkbox">
                          <label class="d-flex btn btn-custom-checkbox-minimal m-1" for="btn-check-sale">SALE</label>
                          <input type="checkbox" class="btn-check" id="btn-check-instock" autocomplete="off" name="filter-other-instock-checkbox">
                          <label class="d-flex btn btn-custom-checkbox-minimal m-1" for="btn-check-instock">IN STOCK</label>
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>

              <!-- apply button -->
              <div class="d-flex flex-row p-0 my-2 justify-content-center">
                <a href="#" class="btn btn-bd-dark" id='apply-filters-btn'>APPLY</a>
              </div>
            </div>
          </div>

          <!-- products -->
          <div class="col-7 col-lg-9 ps-1">
            <div class="d-flex flex-column">

              <!-- product list -->
              <div class="container p-3">
                <div class="row row-cols-1 row-cols-lg-3 gx-4 gy-3">
                  {% for product in page_obj %}
                    <div class="col">
                      <div class="card h-100">
                        <!-- wishlist button -->
                        <div class="d-flex justify-content-end container mt-3 p-0 pe-3">
                          {% if product.in_wishlist %}
                          <a class="btn wishlist-btn wishlist-btn-delete" id="wishlist-btn-{{ product.id }}" data-productid="{{ product.product__id }}" data-colorid="{{ product.color__id }}", data-size="{{ product.size }}">
                          </a>
                          {% else %}
                          <a class="btn wishlist-btn wishlist-btn-add" id="wishlist-btn-{{ product.id }}" data-productid="{{ product.product__id }}" data-colorid="{{ product.color__id }}", data-size="{{ product.size }}">
                          </a>
                          {% endif %}
                        </div>
                        
                        <!-- clickable card-->
                        <div class="container px-4 position-relative">
                          <img src="{{ product.image }}" class="card-img-top img-fluid">
                          <div class="card-body">
                            <h5 class="card-title text-center">{{ product.product__name|title }}</h5>
                            <p class="card-text text-center m-0 mb-1 p-0">{{ product.product__material__name }}</p>
                            <p class="card-text text-center m-0 p-0">{{ product.color__name }}</p>
                            <p class="card-text text-center m-0 mt-2 p-0"><strong>${{ product.product__price }}</strong></p>
                            <a class="m-0 p-0 stretched-link" href="{% url "store:product-detail" product.product__slug %}"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>

              <!-- pagination buttons -->
              <nav aria-label="page navigation" class="mt-5">
                <ul class="pagination justify-content-center">
                  
                  {% comment "first page" %}{% endcomment %}
                  {% if page_obj.number == 1 %}
                  <li class="page-item disabled">
                    <a class="page-link" href="?page=1">1</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page=1">1</a>
                  </li>
                  {% endif %}

                  {% comment "previous" %}{% endcomment %}
                  {% if page_obj.has_previous and page_obj.previous_page_number != 1 %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                  {% endif %}

                  {% comment "current" %}{% endcomment %}
                  {% if page_obj.number != 1 and page_obj.number != page_obj.paginator.num_pages %}
                  <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                  {% endif %}

                  {% comment "next" %}{% endcomment %}
                  {% if page_obj.has_next and page_obj.next_page_number != page_obj.paginator.num_pages %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                  {% endif %}
                  
                  {% comment "last page" %}{% endcomment %}
                  {% if page_obj.paginator.num_pages != 1 %}
                    {% if page_obj.number == page_obj.paginator.num_pages %}
                    <li class="page-item disabled">
                      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                    {% endif %}
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ADD TO WISHLIST -->
<script>
  $(document).on('click', '.wishlist-btn-add', function (e) {
    e.preventDefault();
    const ELEMENT = $(this);
    let product_id = ELEMENT.data('productid');
    let product_color_id = ELEMENT.data('colorid');
    let product_size = ELEMENT.data('size');
    $.ajax({
      type: 'POST',
      url: '{% url "wishlist:modify" %}',
      data: {
        product_id: product_id,
        product_size: product_size,
        product_color_id: product_color_id,
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'add'
      },
      success: function (json) {
        ELEMENT.removeClass('wishlist-btn-add');
        ELEMENT.addClass('wishlist-btn-delete');
        const WL_BADGE = document.getElementById('wishlist-totalqty-badge');
        WL_BADGE.textContent = json.wishlist_qty;
      },
      error: function (xhr, errmsg, err) {}
    });
  });
</script>

<!-- DELETE FROM WISHLIST -->
<script>
  $(document).on('click', '.wishlist-btn-delete', function (e) {
    e.preventDefault();
    const ELEMENT = $(this);
    let product_id = ELEMENT.data('productid');
    let product_color_id = ELEMENT.data('colorid');
    let product_size = ELEMENT.data('size');
    $.ajax({
      type: 'POST',
      url: '{% url "wishlist:modify" %}',
      data: {
        product_id: product_id,
        product_size: product_size,
        product_color_id: product_color_id,
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'delete'
      },
      success: function (json) {
        ELEMENT.removeClass('wishlist-btn-delete');
        ELEMENT.addClass('wishlist-btn-add');
        const WL_BADGE = document.getElementById('wishlist-totalqty-badge');
        WL_BADGE.textContent = json.wishlist_qty;
      },
      error: function (xhr, errmsg, err) {}
    });
  });
</script>

<!-- SHOW MAX PRICE RANGE VALUE -->
<script>
  var slider = document.getElementById("price-cap");
  var output = document.getElementById("range-value-label");
  output.textContent = slider.value + " $";

  slider.oninput = function() {
  output.textContent = this.value + " $";
  }
</script>

<!-- APPLY FILTERS -->
<script>
  $(document).on('click', '#apply-filters-btn', function(e) {
    e.preventDefault();
    
    function getFilterIds(filterName) {
      var objectQuery = 'input[name="filter-' + filterName + '-checkbox"]:checked';
      var dataPropertyName = filterName + 'Id';

      var selectedCheckboxes = $(objectQuery);
      var selectedFilterIds = [];
      for (let i = 0; i < selectedCheckboxes.length; i++) {
        let selectedCategoryElement = selectedCheckboxes[i];
        selectedFilterIds.push($(selectedCategoryElement).data(dataPropertyName));
      };

      return selectedFilterIds;
    };

    function isChecked(filterName) {
      var objectQuery = 'input[name="filter-other-' + filterName + '-checkbox"]:checked';
      return $(objectQuery).length > 0;
    };

    // priceCap;
    var priceCap = $('input[name="filter-price-slider"]').val();

    // selected ids
    var selectedCategoryIds = getFilterIds('category');
    var selectedSizeIds = getFilterIds('size');
    var selectedColorIds = getFilterIds('color');
    var selectedMaterialIds = getFilterIds('material');

    // checked 'other'
    var isNew = isChecked('new');
    var isOnSale = isChecked('onsale');
    var isInStock = isChecked('instock');

    // reload the page with the new url parameters
    const urlSearchParams = new URLSearchParams();

    if (selectedCategoryIds.length !== 0) {
      urlSearchParams.append('categories', selectedCategoryIds);
    };
    if (selectedSizeIds.length !== 0) {
      urlSearchParams.append('sizes', selectedSizeIds);
    };
    if (selectedColorIds.length !== 0) {
      urlSearchParams.append('colors', selectedColorIds);
    };
    if (selectedMaterialIds.length !== 0) {
      urlSearchParams.append('materials', selectedMaterialIds);
    };
    if (isNew) {
      urlSearchParams.append('new', isNew);
    };
    if (isOnSale) {
      urlSearchParams.append('sale', isOnSale);
    };
    if (isInStock) {
      urlSearchParams.append('instock', isInStock);
    };
    urlSearchParams.append('pricecap', priceCap);

    const customUrl = `{% url "store:store" %}?${urlSearchParams.toString()}`;
    window.location.href = customUrl;
  });
</script>
{% endblock content %}