{% extends "store/base.html" %}
{% block content %}

<div class="container-fluid p-0 pb-5">
  <div class="d-flex justify-content-center container-fluid col-10 p-0">
    <div class="d-flex flex-column container-fluid p-0">
      <!-- product -->
      <div class="d-flex flex-column flex-md-row p-0">
        <!-- breadcrumb-md -->
          <div class="d-block d-md-none container-fluid p-0 pt-2">
            <div class="p-0 px-4" aria-label="breadcrumb">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item active" aria-current="page">STORE/ {{ product.sex|upper }}/ {{ product.category|upper }}/ {{ product.name|upper }}</li>
              </ol>
            </div>
            <hr class="my-1">
          </div>

        <!-- images -->
        <div class="col-md-6 px-5">
          <div id="product_images" class="carousel carousel-dark slide carousel-fade" data-bs-ride="false">
            <div class="carousel-inner">
              {% for image_url in images %}
              <div class="carousel-item active">
                <img src="{{ image_url }}" class="d-block w-100" alt="...">
              </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#product_images" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#product_images" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <!-- product info-->
        <div class="col-12 col-md-6 p-0">
          <!-- breadcrumb -->
          <div class="d-none d-md-block container-fluid p-0 pt-2">
            <div class="p-0 px-4" aria-label="breadcrumb">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item active" aria-current="page">STORE/ {{ product.sex|upper }}/ {{ product.category|upper }}/ {{ product.name|upper }}</li>
              </ol>
            </div>
            <hr class="my-1">
          </div>

          <!-- name, material-->
          <div class="container-fluid p-0 pt-2">
            <div class="p-0 px-4" aria-label="name-material">
              <h2 class="py-1"><strong id="product-name">{{ product.name|upper }}</strong></h2>
              <p class="fs-5">{{ product.material }}</p>
            </div>
            <hr class="my-1">
          </div>

          <!-- price -->
          <div class="container-fluid p-0 pt-2">
            <div class="p-0 px-4" aria-label="price">
              <h3 id="product-price" class="pb-2">${{ product.price }}</h3>
            </div>
            <hr class="my-1">
          </div>

          <!-- 1: sizes -->
          <div class="d-flex flex-column justify-content-start">
            <div class="p-2 px-4">
              <p class="m-0 p-0 fs-5">Size:</p>
            </div>
            <div class="p-2 px-4">
              <div class="row row-cols-3 row-cols-lg-5 g-1">
                {% for size, product_variant_specs in product_variants_data.items %}
                  <input type="radio" class="btn-check" name="size-options" id="btn-radio-size-{{ size }}" autocomplete="off">
                  <label class="btn btn-custom-checkbox mx-1" name="btn-size" for="btn-radio-size-{{ size }}" style="--bs-btn-padding-x: 1.5rem; --bs-btn-padding-y: 0.7rem;" value="{{ size }}" data-product-variant-specs="{{product_variant_specs}}">{{ size }}</label>
                {% endfor %}
              </div>
            </div>
            <hr class="mb-1 mt-2">
          </div>

          <!-- 2: colors -->
          <div class="d-flex flex-column align-items-start">
              <div class="d-flex flex-row align-items-start p-0 pt-2 px-4">
                  <p class="m-0 p-0 fs-5">Color:</p>
              </div>
              <div id="color-radios" class="p-2 px-4"></div>
          </div>

          <!-- buttons -->
          <div class="d-flex flex-row mt-3">
            <!-- 3: wishlist button -->
            {% if product.in_wishlist %}
            <a class="me-1 btn wishlist-btn-bordered wishlist-btn-delete" id="wishlist-btn-product" data-productid="{{ product.id }}"></a>
            {% else %}
            <a class="me-1 btn wishlist-btn-bordered wishlist-btn-add" id="wishlist-btn-product" data-productid="{{ product.id }}"></a>
            {% endif %}

            <!-- cart button -->
            <button id="cart-add-btn" type="button" class="ms-1 btn btn-bd-dark container-fluid text-center text-nowrap" data-productid="{{ product.id }}">ADD TO CART</button>
          </div>
        </div>
    </div>
    
    <div class="d-flex flex-column p-0">
      <!-- product description -->
      <div class="col-11 mt-5 p-0">
          <div class="col-3 d-flex flex-column">
              <hr class="my-1">
              <p class="text-center">DETAILS</p>
          </div>
          <div class="p-0 border">
              <p class="p-5 text-center">{{ product.description }}</p>
          </div>
      </div>

      <!-- promo -->
      <div class="col-11 mt-5 p-0">
          <!-- header -->
          <div class="col-3 d-flex flex-column">
            <hr class="my-1">
            <p class="text-center">YOU MAY ALSO LIKE</p>
          </div>

          <!-- items -->
          <div class="p-0 py-5 d-flex flex-row justify-content-center border">
            <div class="row row-cols-1 row-cols-lg-3 gx-4">
              {% for product_variant in promo %}
              <div class="col">
                <div class="card h-100">
                  
                  <!-- clickable card-->
                  <div class="container px-4 position-relative">
                    <img src="{{ product_variant.image.url }}" class="card-img-top img-fluid">
                    <div class="card-body">
                      <h5 class="card-title text-center">{{ product_variant.product.name|title }}</h5>
                      <p class="card-text text-center m-0 mb-1 p-0">{{ product_variant.product.material.name }}</p>
                      <p class="card-text text-center m-0 p-0">{{ product_variant.color }}</p>
                      <p class="card-text text-center m-0 mt-2 p-0"><strong>${{ product_variant.product.price }}</strong></p>
                      <a class="m-0 p-0 stretched-link" href="{% url "store:product-detail" product_variant.product.slug %}"></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 1. DISPLAY AVAILABLE COLORS FOR CHOSEN SIZE -->
<script>
  $('input[name="size-options"]').change(function (e) {
    var colorsElement = document.querySelector("#color-radios");
    colorsElement.textContent = '';
    var productVariantSpecsJson = $(this).next('label').data('productVariantSpecs').replace(/'/g, '"');
    var productVariantSpecs = JSON.parse(productVariantSpecsJson);

    for (let i = 0; i < productVariantSpecs.length; i++) {
      let specs = productVariantSpecs[i];
      let colorId = specs.color_id;
      let colorCode = specs.color_code;
      let colorName = specs.color_name;

      let input = document.createElement('input');
      input.setAttribute("type", "radio");
      input.setAttribute("class", "btn-check btn-color");
      input.setAttribute("name", "color-options");
      input.setAttribute("id", "btn-radio-color-" + colorId);
      input.setAttribute("autocomplete", "off");
      input.dataset.colorId=colorId;

      let label = document.createElement('label');
      label.setAttribute("class", "btn btn-colors-checkbox");
      label.setAttribute("for", "btn-radio-color-" + colorId);
      label.setAttribute("style", "--bs-btn-bg: #" + colorCode + ";" + " --bs-btn-active-bg: #" + colorCode + ";");
      if (colorName == "White") {
        label.setAttribute("style", " --bs-btn-border-color: #d3d3d3;");
        console.log('WHITE COLOR')
      };

      colorsElement.append(input);
      colorsElement.append(label);
    };
  });
</script>

<!-- 2. DISPLAY CORRECT WISHLIST BUTTON FOR A SELECTED COLOR -->
<script>
  $(document).on('change', 'input[name="color-options"]', function (e) {
    var wishlistButton = $('#wishlist-btn-product');
    var selectedSizeRadioLabel = $('input[name="size-options"]:checked').next('label');
    var productVariantSpecsJson = selectedSizeRadioLabel.data('productVariantSpecs').replace(/'/g, '"');
    var productVariantSpecs = JSON.parse(productVariantSpecsJson);

    // check if the chosen productVariant is in the user's wishlist
    var i = 0;
    var colorId = -1;
    var inWishlist;
    var specs;
    while (i < productVariantSpecs.length && colorId !== $(this).data('colorId')) {
      specs = productVariantSpecs[i];
      colorId = specs.color_id;
      inWishlist = specs.in_wishlist;
      i++;
    };

    if (inWishlist === "True") {
      if (wishlistButton.hasClass('wishlist-btn-add')) {
        wishlistButton.removeClass('wishlist-btn-add');
      };
      wishlistButton.addClass('wishlist-btn-delete');
    } else {
      if (wishlistButton.hasClass('wishlist-btn-delete')) {
        wishlistButton.removeClass('wishlist-btn-delete');
      };
      wishlistButton.addClass('wishlist-btn-add');
    };
  });
</script>

<!-- 3.1 ADD TO WISHLIST -->
{% comment "3.1 ADD TO WISHLIST" %}
{% endcomment %} 
<script>
  $(document).on('click', '.wishlist-btn-add', function (e) {
    e.preventDefault();
    var product_id = $(this).data('productid');
    var selected_size = document.querySelector('input[name="size-options"]:checked + label').textContent;
    var selected_color_id = document.querySelector('input[name="color-options"]:checked').dataset.colorId;
    var wishlistButton = $(this);
    $.ajax({
      type: 'POST',
      url: '{% url "wishlist:modify" %}',
      data: {
        product_id: product_id,
        product_size: selected_size,
        product_color_id: selected_color_id,
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'add'
      },
      success: function (json) {
        document.getElementById('wishlist-totalqty-badge').textContent = json.wishlist_qty;
        document.getElementById('wishlist-totalqty-badge-sm').textContent = json.wishlist_qty;
        wishlistButton.removeClass('wishlist-btn-add');
        wishlistButton.addClass('wishlist-btn-delete');
        
        // parse product-variant-specs
        var selectedSizeRadioLabel = $('input[name="size-options"]:checked').next('label');
        var productVariantSpecsJson = selectedSizeRadioLabel.data('productVariantSpecs').replace(/'/g, '"');
        var productVariantSpecs = JSON.parse(productVariantSpecsJson);

        // find selected color and toggle in_wishlist parameter for it
        var i = 0;
        var colorId = -1;
        var inWishlist;
        var specs;
        while (i < productVariantSpecs.length && colorId != selected_color_id) {
          specs = productVariantSpecs[i];
          colorId = specs.color_id;
          i++;
        };
        specs.in_wishlist = "True";

        // push back to product-variant-specs
        var updatedProductVariantSpecsJson = JSON.stringify(productVariantSpecs);
        selectedSizeRadioLabel.data('productVariantSpecs', updatedProductVariantSpecsJson);
        selectedSizeRadioLabel.data('productVariantSpecs');

        // edit the counter 
      },
      error: function (xhr, errmsg, err) {}
    });
  });
</script>

<!-- 3.2 DELETE FROM WISHLIST -->
<script>
  $(document).on('click', '.wishlist-btn-delete', function (e) {
    e.preventDefault();
    var product_id = $(this).data('productid');
    var selected_size = document.querySelector('input[name="size-options"]:checked + label').textContent;
    var selected_color_id = document.querySelector('input[name="color-options"]:checked').dataset.colorId;
    var wishlistButton = $(this);
    $.ajax({
      type: 'POST',
      url: '{% url "wishlist:modify" %}',
      data: {
        product_id: product_id,
        product_size: selected_size,
        product_color_id: selected_color_id,
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'delete'
      },
      success: function (json) {
        document.getElementById('wishlist-totalqty-badge').textContent = json.wishlist_qty;
        document.getElementById('wishlist-totalqty-badge-sm').textContent = json.wishlist_qty;
        wishlistButton.removeClass('wishlist-btn-delete');
        wishlistButton.addClass('wishlist-btn-add');
        
        // parse product-variant-specs
        var selectedSizeRadioLabel = $('input[name="size-options"]:checked').next('label');
        var productVariantSpecsJson = selectedSizeRadioLabel.data('productVariantSpecs').replace(/'/g, '"');
        var productVariantSpecs = JSON.parse(productVariantSpecsJson);

        // find selected color and toggle in_wishlist parameter for it
        var i = 0;
        var colorId = -1;
        var inWishlist;
        var specs;
        while (i < productVariantSpecs.length && colorId != selected_color_id) {
          specs = productVariantSpecs[i];
          colorId = specs.color_id;
          i++;
        };
        specs.in_wishlist = "False";

        // push back to product-variant-specs
        var updatedProductVariantSpecsJson = JSON.stringify(productVariantSpecs);
        selectedSizeRadioLabel.data('productVariantSpecs', updatedProductVariantSpecsJson);
        selectedSizeRadioLabel.data('productVariantSpecs');
      },
      error: function (xhr, errmsg, err) {}
    });
  });
</script>

<!-- ADD TO CART -->
<script>
  $(document).on('click', '#cart-add-btn', function (e) {
    e.preventDefault();
    const product_id = $(this).data('productid');
    const selected_size = document.querySelector('input[name="size-options"]:checked + label').textContent;
    const selected_color_id = document.querySelector('input[name="color-options"]:checked').dataset.colorId;
    $.ajax({
      type: 'POST',
      url: '{% url "cart:modify" %}',
      data: {
        product_id: product_id,
        product_qty: '1',
        product_size: selected_size,
        product_color_id: selected_color_id,
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'add'
      },
      success: function (json) {
        const product_variant_id = json.product_variant_id;
        document.getElementById('cart-totalqty-badge').textContent = json.totalqty;
        document.getElementById('offcanvas-cart-totalqty').textContent = json.totalqty;
        document.getElementById('offcanvas-cart-total-price').textContent = "$" + json.totalprice;

        // add product to product list in offcanvas-cart
        if (document.getElementById("offcanvas-cart-product-" + product_variant_id) == null) {
          // construct base of the product card
          let cardBase = document.createElement('div');
          cardBase.setAttribute("class", "d-flex flex-row align-items-top justify-content-between py-3 border-bottom border-dark");
          cardBase.setAttribute("id", "offcanvas-cart-product-" + product_variant_id);

          //construct image
          let img = document.createElement('img');
          img.setAttribute("src", json.img_url);
          img.setAttribute("class", "img-fluid m-1 ms-4");
          img.setAttribute("style", "height: 8rem;");

          //construct base of the info section
          let infoBase = document.createElement('div');
          infoBase.setAttribute("class", "d-flex flex-column align-items-start justify-content-between");

          //construct name base
          let nameBase = document.createElement('p');
          nameBase.setAttribute("class", "text-dark text-decoration-none m-0 mt-2 p-0");

          //construct name
          let name = document.createElement('strong');
          name.textContent = document.getElementById('product-name').textContent;

          //construct color
          let color = document.createElement('p');
          color.setAttribute("class", "m-0 p-0");
          color.textContent = "Color : " + json.color_name;

          //construct size
          let size = document.createElement('p');
          size.setAttribute("class", "m-0 p-0");
          size.textContent = "Size : " + json.size;

          //construct priceBase
          let priceBase = document.createElement('p');
          priceBase.setAttribute("class", "text-end m-0 mb-2");

          //construct productPrice
          let productPrice = document.createElement("strong");
          productPrice.textContent = document.getElementById("product-price").textContent;

          //construct delete button
          let deleteButton = document.createElement("button");
          deleteButton.setAttribute("href", "#");
          deleteButton.setAttribute("class", "cart-delete-btn btn-close m-0 mt-2 me-3");
          deleteButton.setAttribute("aria-label", "Close");
          deleteButton.dataset.productId = product_id;
          deleteButton.dataset.productSize = selected_size;
          deleteButton.dataset.productColorId = selected_color_id;

          // insert the card into column with products (part of cart-offcanvas)
          const columnWithProducts = document.getElementById('cart-items');
          columnWithProducts.append(cardBase);
          cardBase.append(img);
          cardBase.append(infoBase);
            infoBase.append(nameBase);
              nameBase.append(name);
            infoBase.append(color);
            infoBase.append(size);
            infoBase.append(priceBase);
              priceBase.append(productPrice);
          cardBase.append(deleteButton);
        };


      },
      error: function (xhr, errmsg, err) {}
    });
  });
</script>
{% endblock content %}
