{% extends "store/base.html" %}
{% block content %}
<p>
    {% if stock_list %}
    <ul>
        {% for item in stock_list %}
        <article class="media content-section">
            
            <div class="media">
                <a href="{% url 'store:stock-detail' item.id %}">
                    <img class="rounded-circle profile-img-big float-start" src="{{ item.image.url }}">
                </a>
                <div class="media-body">
                    <h1 class="profile-heading">{{ item.name }}</h1>
                    <p class="text-secondary">{{ item.description }}</p>
                </div>
            </div>
        </article>
        {% endfor %}
    </ul>
    {% else %}
        <p>nothing in stock</p>
    {% endif %}
</p>
{% endblock content %}