{% extends "store/base.html" %}
{% block content %}
<h1>USERS</h1>
<p>
    {% if users_list %}
    <ul>
        {% for user in users_list %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ user.username }}</a>
                    <small class="text-muted">{{ user.created_at }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ user.email }}</a></h2>
            </div>
        </article>
        {% endfor %}
    </ul>
    {% else %}
        <p>there is nothing in the db</p>
    {% endif %}
</p>
{% endblock content %}