@font-face {
    font-family: "Minipax";
    src: url('/../../../media/fonts/Minipax/variable/Minipax-Variable.ttf') format('truetype');
    font-weight: 100 600;
    font-style: normal;
}

body {
    background: #fffefe;
    font-family: "Minipax";
}

footer, header {
    background: #000000;
    color: #fffefe;
}

h5 {
    font-weight: 300;
}

h4, h3, h2, h1, a, p, button, ul ,li, input {
    font-weight: 200;
}

.breadcrumb-item {
    font-size: smaller !important;
}

hr {
    color: #606060 !important;
    border-width: 0.1rem;
}

.breadcrumb-item {
    color: #000000 !important;
}

.btn-bd-dark {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: .5rem;
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-border-width: .1em;
    --bs-btn-border-radius: 0em;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #FFFFFF;
}

.btn-bd-checkbox {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: .5rem;
    --bs-btn-color: #000000;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #000000;
    --bs-btn-border-width: .1em;
    --bs-btn-border-radius: 0em;
    --bs-btn-checked-bg: #000000;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #FFFFFF;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #000000;
}

small {
    font-weight: 100;
    color: #9d9d9d;
}

.text-grey {
    color: #9d9d9d;
}

.border-dark {
    color: #000000;
}

.offcanvas-backdrop.show {
    opacity: .0; 
}