@font-face {
    font-family: "Minipax";
    src: url('/../../../media/fonts/Minipax/variable/Minipax-Variable.ttf') format('truetype');
    font-weight: 100 600;
    font-style: normal;
}

body {
    background: #fffefe;
    font-family: "Minipax";
}

footer {
    background: #000000;
    color: #fffefe;
}

header {
    background: #000000;
    color: #fffefe;
}



h5 {
    font-weight: 300;
}

h4 {
    font-weight: 200;
}

h3 {
    font-weight: 200;
}

h2 {
    font-weight: 400;
}

h1 {
    font-weight: 400;
}

p {
    font-weight: 100;
}

a {
    font-weight: 100;
}

button {
    font-weight: 100;
}

.btn-bd-dark {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: .5rem;
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-border-width: .1em;
    --bs-btn-border-radius: 0em;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #FFFFFF;
}

.form-control {
    --bs-form-control-bg: #000000 !important;
}

ul {
    font-weight: 100;
}

li {
    font-weight: 100;
}

small {
    font-weight: 100;
    color: #9d9d9d;
}

input {
    font-weight: 100;
}

.text-grey {
    color: #9d9d9d;
}