@font-face {
    font-family: "Minipax";
    src: url('/../../../media/fonts/Minipax/variable/Minipax-Variable.ttf') format('truetype');
    font-weight: 100 600;
    font-style: normal;
}

body {
    background: #fffefe;
    font-family: "Minipax";
}

footer, header {
    background: #000000;
    color: #fffefe;
}

h5 {
    font-weight: 300;
}

h4, h3, h2, h1, a, p, button, ul ,li, input {
    font-weight: 200;
}

.breadcrumb-item {
    font-size: smaller !important;
}

hr {
    color: #606060 !important;
    border-width: 0.1rem;
}

.breadcrumb-item {
    color: #000000 !important;
}

.wishlist-btn {
    display: inline-block;
    color: #212529;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 1rem 1rem;
    font-size: 0rem;
    border-radius: 0rem;
}

.wishlist-btn-bordered {
    display: inline-block;
    color: #212529;
    background-color: transparent;
    border: 1.5px solid;
    padding: 1.5rem 3rem;
    font-size: 0rem;
    border-radius: 0rem;
}

.wishlist-btn-delete {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
}

.wishlist-btn-add {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
}

.btn-bd-dark {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: .5rem;
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-border-width: .1em;
    --bs-btn-border-radius: 0em;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #FFFFFF;
}

.btn-custom-checkbox {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: .5rem;
    --bs-btn-color: #000000;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #000000;
    --bs-btn-border-width: .1em;
    --bs-btn-border-radius: 0em;
    --bs-btn-checked-bg: #000000;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #FFFFFF;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #000000;
}

.btn-custom-checkbox-minimal {
    --bs-btn-padding-x: .5rem;
    --bs-btn-padding-y: .2rem;
    --bs-btn-color: #000000;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #000000;
    --bs-btn-border-width: .1em;
    --bs-btn-border-radius: 0em;
    --bs-btn-checked-bg: #000000;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #FFFFFF;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #000000;
}

.btn-custom-checkbox-minimal-alt {
    --bs-btn-padding-x: .5rem;
    --bs-btn-padding-y: .2rem;
    --bs-btn-color: #000000;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-border-width: .1em;
    --bs-btn-border-radius: 0em;
    --bs-btn-checked-bg: #ffffff;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #FFFFFF;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #ffffff;
}

.btn-colors-checkbox {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 1rem;
    --bs-btn-color: #000000;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-border-width: .1em;
    --bs-btn-border-radius: 1.2em;
    --bs-btn-checked-bg: #ffffff;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #FFFFFF;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #ffffff;
}

.custom-accordion {
    --bs-accordion-active-bg: #ffffff;
    --bs-accordion-active-color: #000000;
    --bs-accordion-btn-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/></svg>');
    --bs-accordion-btn-active-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/></svg>');
}

.form-range::-webkit-slider-thumb {
    width: 1.5rem;
    height: 1rem;
    background-color: #000000;
    margin-top: 0rem;
    border-radius: 0rem;
}

.form-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 1rem;
    color: transparent;
    background-color: #dee2e6;
    border-color: transparent;
    border-radius: 0rem;
}

.form-range::-webkit-slider-thumb:active {
    background-color: #9f9f9f;
}

.form-select-sort-by {
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 1.5rem;
    background-size: 12px 9px;
}

small {
    font-weight: 100;
    color: #9d9d9d;
}

.text-grey {
    color: #9d9d9d;
}

.border-dark {
    color: #000000;
}

.offcanvas-backdrop.show {
    opacity: .0; 
}

.card {
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0rem;
  }

.card:hover {
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 0rem;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}