{% extends "store/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 display-2">
                    <strong>{{ user.username }}</strong>
                </legend>
                {% for input in form %}
                    <p class='fs-4 mb-1'>{{ input.label }}</p>
                    {{ input }}
                {% endfor %}
                
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark mt-3" type="submit>">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}