{% extends "store/base.html" %}
{% load static %}
{% block content %}
<div class="col-md-7 col-lg-8">

    <h4 class="mb-3">Personal Information</h4>
    <form class="row g-3">
      <div class="col-3 border">
        <input id="user-info-name" class="form-control" type="text" placeholder="{{ user.name }}" value="{{ user.name }}" aria-label="Disabled input example" disabled>
      </div>
      <div class="col-3 border">
        <input id="user-info-surname" class="form-control" type="text" placeholder="{{ user.surname }}" value="{{ user.surname }}" aria-label="Disabled input example" disabled>
      </div>
      <div class="col-5 border">
        <input id="user-info-phone" class="form-control" type="text" placeholder="{{ user.phone_number }}" value="{{ user.phone_number }}" aria-label="Disabled input example" disabled>
      </div>
      <div class="col-1 border">
        <a class="btn btn-outline-dark" href="{% url "users:settings" %}">Edit</a>
      </div>
      <div class="col-12 border">
        <input id="user-info-email" class="form-control" type="text" placeholder="{{ user.email }}" value="{{ user.email }}" aria-label="Disabled input example" disabled>
      </div>
    </form>

    <hr class="my-4">
    <h4 class="my-3">Billing address</h4>
    <div id="card-errors" class="a" role="alert"></div>
    <form id="payment-form" class="needs-validation" novalidate="">
      <div class="row g-1">
        {% for address in address_info %}
          <div class="col">
              <div class="card mb-3 h-100" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col">
                      <div class="card-body">
                        <h5 class="card-title">
                          <input type="radio" class="btn-check" name="options" id="option-{{ address.id }}" autocomplete="off">
                          <label class="btn btn-outline-dark" for="option-{{ address.id }}">{{ address.address }}</label>
                        </h5>
                        
                        <p class="card-text">{{ address.country }}, {{ address.state }}, {{ address.zip }}</p>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        {% endfor %}
      </div>

      <hr class="my-4">
      <h4 class="mb-3">Payment</h4>
      <div id="card-element" class="form-control form-control-payment"></div>

      <button id='checkout-submit' class="w-100 btn btn-dark btn-lg my-2" type="submit" data-secret="{{ client_secret }}">Pay</button>
    </form>
  </div>

  <script>
    var CSRF_TOKEN='{{ csrf_token }}';
  </script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'payment/index.js' %}" data-rel-js></script>
{% endblock content %}