{% extends "store/base.html" %}
{% block content %}
<div class="container-fluid d-flex p-0 py-5">
  <div class="d-flex flex-column align-items-center justify-content-center container-fluid col-6 my-5 p-0 border border-dark">
    <h1 class="my-5">PASSWORD RESET REQUESTED</h1>
    <div class="container-fluid d-flex justify-content-center align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="105" height="105" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
      </svg>
    </div>
    <p class="fs-5 my-5">We've sent you an email with further instructions</p>
  </div>
</div>
{% endblock content %}