{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-2">Reset Password</legend>
                <div class="d-flex my-2">{{ form.email }}</div>
                <div class="d-flex my-2">{{ form.password1 }}</div>
                <div class="d-flex my-2">{{ form.password2 }}</div>
            </fieldset>
            <div class="form-group mt-2">
                <button class="btn btn-outline-dark" type="submit>">Request</button>
            </div>
        </form>
    </div>
{% endblock content %}